
 body {background-image:url(https://steamuserimages-a.akamaihd.net/ugc/87099228454821167/CD2E6E5AA573E9DC9A6DA6F99FA557DC817CB78B/);
      background-size:contain;
} 

* { 
   font-family: Arial, Verdana, sans-sarif;
    color:#000000;
  text-align: center;
}
   
    body {
    width: 90%;
    margin: 0 auto;}
      #content {
    overflow: auto;}

   #nav, #feature,  #footer {
	margin: 1%;}

h1{
  color: 	#00008B;
}
				
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color:	#FFEFD5;
				padding: 0.5em 0;}
			#feature, .article {
              height: 10em;
				margin-bottom: 1em;
              background-color:MediumSeaGreen ;
}
.column1 {
  background-color:#00FFFF;
}
 .column2 {
  background-color:#00FFFF;
}
 .column3 {
  background-color:#00FFFF;
}
h2, h1, a{
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
}
#feature {
  background-color:black;
  background-image: url("https://s-ec.bstatic.com/images/hotel/max1280x900/832/83237765.jpg");
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
}
              
              
